@import "custom";
@import "bootstrap/scss/bootstrap";
@import "login";

.btn-site-light, .btn-site-light:hover {
  color: $site-blue;
  font-weight: bold;
  border-color: $site-blue;
  &:hover {
     box-shadow: 0px 0px 0px 1px $site-blue;
  }
}

h1.impact-text {
  font-size: 3.5rem;
  font-weight: bold;
}

.bg-site-blue {
  background-color: $site-blue;
}

.th-text-color {
  color: #4F4F4F;
}

.page-item.active .page-link {
  background-color: $site-blue;
  border-color: $site-blue;
}

.vacancy-card, .card {
  border-radius: 1rem;
  .card-header:first-child {
    border-radius: 1rem 1rem 0px 0px;
  }
}